# terraform-user credentials from AWS Admin GovCloud
aws_access_key_govcloud = ""
aws_secret_key_govcloud = ""
# aws_access_key_commercial = ""
# aws_secret_key_commercial = ""

# federalist-production-deployer-circle
cf_user     = ""
cf_password = ""

# currently dave's personal API Key, the only way to do this...
circleci_api_key = ""